body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--quicksandfont);
}

/* CSS Custom Variables */
:root{
    --grid-width: 160px;
    --grid-height: 120px;
    --quicksandfont: "Quicksand";
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: black;
}
/* Grid Container Styling */
#container {
    display: grid;
    grid-template-columns: repeat(3, var(--grid-width));
}
#container *{
    border: 3px solid white;
    border-collapse: collapse;
}
#container div {
    height: var(--grid-height);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120px;
    cursor: pointer;
    color: white;
    font-weight: 900;
}
#box1, #box2, #box3{
    border-top: 0px;
}
#box1, #box4, #box7{
    border-left: 0px;
}
#box3, #box6, #box9{
    border-right: 0px;
}
#box7, #box8, #box9{
    border-bottom: 0px;
}
dialog{
    background-color: rgba(0, 0, 0, 0.4);
    width: 400px;
    position: absolute;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
}
dialog::backdrop{
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.8);

}

#demo{
    font-size: 38px;
    font-weight: 500;
    color: white;
    margin-bottom: 25px;
}
#playAgain{
    background-color: transparent;
    color: white;
    border: 2px white solid;
    outline: 0px;
    border-radius: 7px;
    padding: 15px 25px;
    font-size: 17px;
    font-weight: 600;
    font-family: var(--quicksandfont);
}
#playAgain:hover{
    transform: scale(1.09);
    transition: transform 0.5s ease-in-out;
}
#scorebar{
    /* height: fit-content; */
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 18px;
    color: white;
    font-weight: 600;
    position: relative;
}
#scorebar div{
    font-size: 21px;
}
#scorebar div:last-child p{
    display:flex;
    align-items: center;
    gap: 10px;
}
#scorebar div div{
    text-align: center;
    font-weight: 500;
}
#scorebar img{
    height: 26px;
    position: absolute;
    right: -50px;
    margin-left: 20px;
}
#scorebar div:last-child{
    position: relative;
}